<form action="/modificar/{{ producto[0] }}" method="POST">
    <input type="text" name="nombre" placeholder="Nombre del Producto" value="{{ producto[2] }}">
    <input type="text" name="descripcion" placeholder="Descripcion del Producto" value="{{ producto[3] }}">
    <input type="text" name="precio" placeholder="Precio del Producto" value="{{ producto[5] }}">
    <input type="text" name="stock" placeholder="Cantidad en Stock" value="{{ producto[6] }}">
    <select name="cat_id">
        {% for categoria in categorias %}
        <option value="{{ categoria[0] }}" {% if categoria[0] == producto[5] %} selected {% endif %}>{{ categoria[1] }}</option>
        {% endfor %}
    </select>
    <input type="text" name="imagen" placeholder="Cargar Imagen" value="{{ producto[4] }}">

    <button type="submit">Guardar</button>
</form>
