{%  extends 'layout.html' %}
{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card">
        <h5 class="card-header">EDITAR PRODUCTO</h5>
        <div class="card-body">
          
            <form action="/modificar/{{ producto[0] }}" method="POST">
                <div class="form-group">
                    <label class="form-label text-primary">Nombre</label>
                    <input type="text" name="nombre" placeholder="Nombre del Producto" value="{{ producto[2] }}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label text-primary pt-4">Descripcion</label>
                    <input type="text" name="descripcion" placeholder="Descripcion del Producto" value="{{ producto[3] }}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label text-primary pt-4">Precio</label>
                    <input type="text" name="precio" placeholder="Precio del Producto" value="{{ producto[5] }}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label text-primary pt-4">Stock</label>
                    <input type="text" name="stock" placeholder="Cantidad en Stock" value="{{ producto[6] }}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label text-primary pt-4">Categoria</label>
                    <select name="cat_id" class="form-control">
                        {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}" {% if categoria[0] == producto[5] %} selected {% endif %}>{{ categoria[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label text-primary pt-4">Imagen</label>
                    <input type="text" name="imagen" placeholder="Cargar Imagen" value="{{ producto[4] }}" class="form-control">
                </div>
            
            
                <div class="form-group pt-4">

                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
    
        </div>
      </div>

</div>


{% endblock %}
