<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo deportes acerca de nosotros</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<script src="../static/js/auth.js"></script>
<body>
    <header>
        <!--Header container-->
        <div class="container">
            <!--User Login-->
            <a class="login-register" href="login.html">
                <img src="../static/img/user.png" width="20px" height="20px">
                Entrar/Registrarse
            </a> 
            <a class="logo" href="../index.html">
                <img src="../static/img/logo.jpg">
            </a>            <!--Cart-->
            <a class="cart" href="">
                <img src="../static/img/cart.png" width="20px" height="20px">
                Carrito
            </a>
            <!--Nav Menu-->
            <nav class="nav-menu">
                <ul class="nav-menu-ul">
                    <li class="header-element">
                        <a href="">Ropa Deportiva</a>
                    </li>
                    <li class="header-element">
                        <a href="">Artes Marciales</a>
                    </li>
                    <li class="header-element">
                        <a href="">Deportes</a>
                    </li>
                    <li class="header-element">
                        <a href="">Acerca de nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div style="text-align: center;margin: 0 5% 0 5%;">
            <h2>Acerca de nosotros</h2>
            <p>Somos una empresa fundada en 1989 la cual empezo vendiendo calzado deportivo pero que poco a poco se fue expandiendo a nuevos horizontes hasta llegar al dia de hoy donde vendemos todo tipo de productos deportivos, te esperamos en nuestra sucursal para atenderte con mucho gusto.</p>
        </div>
        <hr>

        <div style="text-align: center;margin:0 10% 0 10%;">
            <h2>Ubicacion</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838874.2903866051!2d-59.5213055259263!3d-34.78448341546134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcec03d311b679%3A0xef41843111a820fe!2sMundo%20Deportes!5e0!3m2!1ses!2sar!4v1715866325587!5m2!1ses!2sar" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <footer>
        <div class="footer">
            <p>Esta pagina ha sido creada con propositos educativos y las imagenes fueron tomadas de diversas paginas por lo tanto creditos a sus respectivos autores</p>
        </div>
    </footer>
</body>
</html>