<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Mundo deportes login</title>
</head>
<body>
    <header>
        <!--Header container-->
        <div class="container">
            <!--User Login-->
            <a class="login-register" href="">
                <img src="../static/img/user.png" width="20px" height="20px">
                Entrar/Registrarse
            </a> 
            <a class="logo" href="../index.html">
                <img src="../static/img/logo.jpg">
            </a>            <!--Cart-->
            <a class="cart" href="">
                <img src="../static/img/cart.png" width="20px" height="20px">
                Carrito
            </a>
            <!--Nav Menu-->
            <nav class="nav-menu">
                <ul class="nav-menu-ul">
                    <li class="header-element">
                        <a href="">Ropa Deportiva</a>
                    </li>
                    <li class="header-element">
                        <a href="">Artes Marciales</a>
                    </li>
                    <li class="header-element">
                        <a href="">Deportes</a>
                    </li>
                    <li class="header-element">
                        <a href="about.html">Acerca de nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Body-->
    <section class="login-container">
        <form class="login-form" id="login-form" action="">
            <h1 class="login-title">Login</h1>
            <div class="login-data-container">
                <div>
                    <label for="uname">
                        <b>Nombre de usuario o correo electronico: </b>
                    </label>
                    <input type="text" placeholder="jhondoe@gmail.com" name="uname" id="uname"required>
                </div>
                <div>
                    <label for="pass">
                        <b>Contraseña: </b>
                    </label>
                    <input type="password" placeholder="Contraseña" name="pass" id="pass" required>
                </div>
                <div style="margin-top: 2%;">
                    <a href="register.html">¿No tienes una cuenta?</a>
                </div>
            </div>

            <div class="submit-container">
                <input type="submit" value="INGRESAR" id="login-btn">
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-left: 10%;"> Recordar contraseña
            </label>
            <div>
                <a href="" style="margin-left: 10%;">¿Has olvidado tu contraseña?</a>
            </div>
        </form>
    </section>

    <footer>
        <div class="footer">
            <p>Esta pagina ha sido creada con propositos educativos y las imagenes fueron tomadas de diversas paginas por lo tanto creditos a sus respectivos autores</p>
        </div>
</footer>
<script src="../static/js/login.js"></script>
</body>
</html>