<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Mundo deportes registrarse</title>
</head>
<body>
    <header>
        <!--Header container-->
        <div class="container">
            <!--User Login-->
            <a class="login-register" href="login.html">
                <img src="../static/img/user.png" width="20px" height="20px">
                Entrar/Registrarse
            </a> 
            <a class="logo" href="../index.html">
                <img src="../static/img/logo.jpg">
            </a>            <!--Cart-->
            <a class="cart" href="">
                <img src="../static/img/cart.png" width="20px" height="20px">
                Carrito
            </a>
            <!--Nav Menu-->
            <nav class="nav-menu">
                <ul class="nav-menu-ul">
                    <li class="header-element">
                        <a href="">Ropa Deportiva</a>
                    </li>
                    <li class="header-element">
                        <a href="">Artes Marciales</a>
                    </li>
                    <li class="header-element">
                        <a href="">Deportes</a>
                    </li>
                    <li class="header-element">
                        <a href="about.html">Acerca de nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Body-->
    <section class="login-container">
        <form class="login-form">
            <h1 class="login-title">Registrarse</h1>
            <div class="login-data-container">
                <div>
                    <label for="uname">
                        <b>Nombre de usuario: </b>
                    </label>
                    <input type="text" placeholder="jhondoe" name="uname" id="uname"required>
                </div>
                <div>
                    <label for="email">
                        <b>Correo electronico: </b>
                    </label>
                    <input type="email" placeholder="jhondoe@gmail.com" name="email" id="email"required>
                </div>
                <div>
                    <label for="r-email">
                        <b>Repetir correo electronico: </b>
                    </label>
                    <input type="email" placeholder="jhondoe@gmail.com" name="r-email" id="r-email"required>
                </div>
                <div>
                    <label for="contrasenia">
                        <b>Contraseña: </b>
                    </label>
                    <input type="password" placeholder="Contraseña" name="contrasenia" id="contrasenia" required>
                </div>
                <div>
                    <label for="contrasenia2">
                        <b>Repita su contraseña: </b>
                    </label>
                    <input type="password" placeholder="Contraseña" name="contrasenia2" id="contrasenia2" required>
                </div>
            </div>

            <div class="submit-container">
                <input onclick="return register()" type="button" value="INGRESAR">
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-left: 10%;"> Recordar contraseña
            </label>
            <div>
                <a href="" style="margin-left: 10%;">¿Has olvidado tu contraseña?</a>
            </div>
        </form>
    </section>

    <footer>
        <div class="footer">
            <p>Esta pagina ha sido creada con propositos educativos y las imagenes fueron tomadas de diversas paginas por lo tanto creditos a sus respectivos autores</p>
        </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../static/js/register.js"></script>

</body>
</html>